body {
	background-color: #f0f2f5;
  font-family: 'Arial';
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100v;
	margin: 0;
}

.card {
	background-color: white;
	width: 300px;
	padding: 20px;
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0,0,0,1);
	text-align: center;
	border: 1px solid #ddd;
}

button {
	background-color: #34980b;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: background 0.3s
}
